<!DOCTYPE html>
<html lang="en" class="dark h-full" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>Hello Electron React!</title>
  </head>
  <body class="dark:bg-black flex h-full">
    <div id="root" class="dark:bg-black bg-black flex min-h-screen flex-col items-center justify-between h-full w-full"></div>
  </body>
</html>
